@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #281055;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.banner .content {
    position: relative;
    max-width: 750px;
    text-align: center;
    transition:5s;
}

.banner .content h2{
    color: #fff;
    font-size: 60px;

}

.banner .content p{
    color: #fff;
    font-size: 18px;
}

.banner header{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.banner header .logo{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition:0.5s;
}

.banner header .logo:hover{
    font-size: 27px;
}

header ul,li,a{
    list-style: none;
    z-index: 100000;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 18px;
    padding-left: 10px;
    transition: 0.2s;
}

header a:hover{
    font-size: 20px;
    color:grey;
}
/* .banner header .toggle{
    position: relative;
    width: 36px;
    height: 28px;
    background: url(img/toggle.png);
    background-size: cover;
    cursor: pointer;
} */

/*  About */

.about{
    position: relative;
    width: 100%;
    display: flex;
}

.about .contentBx{
    background: #32165f;
    padding: 100px;
    width: 50%;
}

.heading{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.contentBx p{
    color:#fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.about .imgBx{
    background: url(img/7247.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}


/* Servicios */

.services{
    background: #12222d;
    padding: 100px;
    text-align: center;
}

.services .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.services .text{
    color:white;
    font-weight: 600;
    letter-spacing: 1px;

}

.services .container .serviceBx{
    position: relative;
    background: rgb(255, 255, 255);
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.services .container .serviceBx:hover{

    border-top: 5px solid red;
}


.services .container .serviceBx img{
    max-width: 150px;
    transition: 0.5s;
}

.services .container .serviceBx img:hover{
    max-width: 180px;

}

.services .container .serviceBx h2{
    font-weight: 500 ;
    font-size: 20px;
    letter-spacing: 2px;

}

/*Tecnologias*/

.technology{
    background: #3f8ffc;
    width: 100%;
    padding: 100px;
    margin-top: -300px;
    padding-top: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.technology .contentBx{
    max-width: 800px;
}
.technology .imgBx{
    max-width: 250px;
}

.technology .imgBx img{
    max-width: 100%;
}
/*Clientes*/
.client {
    padding-bottom: 80px;
    background: #162c3b;
    padding-top: 100px;
    text-align: center;

}

.client .text{
    color:white;
    font-weight: 400;
    letter-spacing: 1px;

}

.client .imgBx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.client .imgBx img{
    max-width: 200px;
    margin: 0px 40px 0px;
    opacity: 0.25;
    cursor: pointer;
}

.client .imgBx img:hover{
    opacity: 100;
}

/*Testimonios*/
.testimonials{
    position: relative;
    padding: 100px;
    background: #12222d;
    text-align: center;
}

.testimonials .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.testimonials .container .contentBx{
    background: #fff;
    padding: 60px 50px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.testimonials .container .contentBx p{
    font-style: italic;
    color: black;
    font-weight: 300;
}
.testimonials .container .contentBx h3{
    width: 100%;
    text-align: end;
    font-weight: 500;
    color: #3f8ffc;
}

/*Contact*/

.contact{
    padding:100px;
    background: #21618b;
    text-align: center;
}

.contact p{
    color:white;
    letter-spacing: 1px;
    margin: 5px;
}

/* Contact Form */

.imgBx2{
    background: url(img/bg2.jpg);
    background-size:cover;
    background-position: center;
    width: 50%;
}

.redbg{
    background:url(img/red.jpg) !important;
    background-size: cover;
    background-position: center;
}

.form .inputBx{
    margin-bottom: 40px;
}

.form .inputBx input{
    width: 100%;
    background:transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.form .inputBx input::placeholder{
    color:#fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
}

.form .inputBx textarea{
    width: 100%;
    background:transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    color: #fff;
    border-bottom: 2px solid #fff;
    resize: none;
    min-height: 150px;
}

.form .inputBx textarea::placeholder{
    color:#fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
}

input[type="submit"]{
    width: 150px;
    background-position: #fff;
    color: #111;
    cursor: pointer;
    transition:0.5s;
}

.footer{
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer p{
    color: #fff;
}

.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li{
    list-style: none;
}
.footer ul li a{
text-decoration:none;
    display: inline-block;
    margin: 0 10px;
}

.footer ul li a img{
    filter:invert(1);
    max-width: 20px;
}

@media (max-width:1306px){

    .banner{
        padding: 50px;
    }
    .banner header{
        padding: 20px 50px;
    }

    .banner .content h2{
        font-size: 36px;
    }
    .banner .content p{
    font-size: 16px;    
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx,

    .about .imgBx {
            width: 100%;
            padding: 50px;
            min-height: 400px;
            text-align: center;
    }

    
    .services{
        padding: 50px;

    }

    .services .container{
        justify-content: center;
        margin-top: 20px;
    }
    .services .container .serviceBx{
        margin: 20px;
        width: 300px;
        height: 350px;
    }

    .technology{
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }

    .technology .imgBx{
        motion-path: 40px;
        max-width: 250px;
    }


    .client{
        padding: 50px;
    }
    .client .imgBx {
        justify-content: center;
    }
    
    .client .imgBx img{
        
        padding-bottom: 55px;

    }



    .testimonials{
        padding: 50px;
    }
    .testimonials .contentBx{
        padding: 60px 40px;
        max-width: 550px;
        margin-bottom: 40px;
    }
    
    .testimonials .contentBx:last-child{

        margin-bottom: 0px;

    }

    .contact{
        padding:50px;
    }

    .footer{
        padding:20px 50px;
        text-align: center;
        flex-direction: column-reverse;
    }

    .footer ul{
        margin-bottom: 20px;
    }
}

@media(max-width:1203px){
    .testimonials{
        padding: 50px;
    }
    .testimonials .container .contentBx{
        max-width: 520px;
        margin-bottom: 40px;
        
    }
}

@media(max-width:1141px){

    .testimonials{
        padding: 50px;
    }
    
    .testimonials .container .contentBx{
        max-width: 490px;
        margin-bottom: 40px;
        
    }
}

